<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rental Service</title>
</head>
<body>

<form action="" method="POST">
    <label for="">Model</label>
    <input name="model" type="text" value="eg.:Honda">
    <br>
    <label> Daily Fee (VND)</label>
    <input name="fee" type="text" value="eg: 100.000">
    <br>
    <label for="">Image</label>
    <input name="image" type="text" value="eg: https://hondaxemay.com.vn/san-pham/">
    <br>
    <label for="">Year</label>
    <input name="year" type="text" value="eg: 2013">
    <br>
    <button>Submit Request</button>

</form>
    
</body>
</html>