<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALL SERVICES</title>
</head>
<body>
    {%for service in Services%}
        <div>
            {% if service.gender == "male" %}
               <img src="../static/images/male.jpg"> <br>
            {%elif service.gender == "female" %} 
                <img src="../static/images/female.jpg"> <br>
            {%endif%}
        
            <P> {{service["name"]}} </p>
            <p> Tuổi: {{service["age"]}} </p>
            <p> Giới tính: {{service["gender"]}} </p>
            <p> Địa chỉ: {{service["address"]}} </p> <br>
            <a href="/all-service/details/{{service._id}}"> Click to show</a>
            <a href="/delete/{{service._id}}">    Delete</a> 
        </div>
        <hr>

    {%endfor%}

    
    
</body>
</html>