<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
    <form method="POST">
        <label>Tên</label>
        <input name="name" type="text" value="{{edit_service.name}}">
        <br>
        <br>

        <label>Tuổi</label>
        <input name="age" type="text" value="{{edit_service.age}}">
        <br>
        <br>

        <label>Địa chỉ</label>
        <input name="address" type="text" value="{{edit_service.Address}}">
        <br>
        <br>

        <label>Giới tính</label>
        <input name="gender" type="text" value="{{edit_service.gender}}">
        <br>
        <br>
        <button>Save</button>
        <input type="submit" value="Sub đi em">


    </form>
</body>
</html>